.row {
    flex-wrap: wrap;
}

.seccion-habilidades {
    background-color: $custom-background;
    padding: 4rem 0rem 0rem 0rem;

    .contenedor-titulo {
        text-align: center;
        padding-bottom: 4rem;

        .habilidades-titulo {  // Pasarlo a un global de subtitulos este estilo
            font-family: $titulos;
            color: $custom-primary;
            font-size: $secciones-titulos;
            font-style: italic;
            display: inline-block;
            font-weight: 100;
            border: 1px solid $custom-primary;
            padding: 10px 40px;
            border-radius: 50px;
            background: $custom-degrade-h2;
            overflow: hidden;
        }
    }

    .contenedor-habilidades {
        height: 100%; // Ya no forzamos el tamaño
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0px;

        .card {
            height: 210px;
            width: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 12px;
            border-radius: 30px;
            border: 0.5px solid $titulo-degrade-color-2;
            background-color: $custom-secondary-3;
            transition: transform 0.3s ease, border 0.3s ease; // Animación

            &:hover { // Efectos
                transform: scale(1.03); // efecto leve de zoom
                box-shadow: $custom-secondary-2 0px 10px 50px;
                border: 0.5px solid $custom-secondary-1;
            }

            img {
               height: 100px;
               width: 100px; 
            }
        }

    }
}

// Breakpoints 

@media (max-width: 548px) {
    .card {
        width: 100%;
        height: auto;
        margin: 10px 0;
        border-radius: 20px;
    } 

    img {
        height: 80px;
        width: 80px; 
     }
}