.row {
    flex-wrap: wrap;
}

.seccion-habilidades {
    min-height: auto;
    background-color: $custom-background;
    padding: 4rem 0rem 0rem 0rem !important;
    margin: 0px !important;

    // TITULO
    .contenedor-titulo {
        text-align: center;

        .habilidades-titulo {  // Pasarlo a un global de subtitulos este estilo
            font-family: $titulos;
            color: $custom-primary;
            font-size: $secciones-titulos;
            font-style: italic;
            display: inline-block;
            font-weight: 100;
            border: 1px solid $custom-primary;
            padding: 10px 40px;
            border-radius: 50px;
            background: $custom-degrade-h2;
            overflow: hidden;
            margin: 0px !important;
        }
    }

    // CONTENEDOR - HABILIDADES
    .contenedor-habilidades {
        height: 100%; // Ya no forzamos el tamaño
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        align-items: center;
        padding: 60px 0px 65px 0px;

        .fila {
            display: inline-flex;
            flex-wrap: nowrap;
            gap: 1rem;
            width: max-content;
            animation-duration: 40s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-play-state: running;

            &:hover,
            &:active {
                animation-play-state: paused;
            }
            
            &.fila-superior {
                animation-name: moverDerecha;
                z-index: 1;
              }
        
            &.fila-inferior {
                padding-top: 10px;
                animation-name: moverIzquierda;
            }   
        }
        
        .card {
            height: 210px;
            width: 250px;
            margin: 12px;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0.5px solid $titulo-degrade-color-2;
            background-color: $custom-secondary-3;
            transition: transform 0.3s ease, border 0.3s ease; 

            // Efecto para ambas cards
            &:hover {
                transform: scale(1.03); // efecto leve de zoom
                border: 0.5px solid $custom-secondary-1;
            }

            img {
               height: 100px;
               width: 100px; 
            }
        }

        // Efectos
        .card-superior:hover {
            box-shadow: $custom-secondary-2 0px 5px 50px;
        }

        .card-inferior:hover {
            box-shadow: $custom-secondary-2 0px 10px 50px;
        }
    }
}


// ANIMACIONES
@keyframes moverIzquierda {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-40%);
    }
}

@keyframes moverDerecha {
    0% {
        transform: translateX(-40%);
    }

    100% {
        transform: translateX(0);
    } 
}


// BREAKPOINTS
@media (max-width: 548px) {

    .seccion-habilidades {
        padding-bottom: 4rem !important;
    }

    .contenedor-habilidades {
        padding: 0px !important;
    }

    .contenedor-titulo {
        padding-bottom: 4rem !important;
    }
}
