.navbar {
    background-color: $custom-background;
    padding: 15px 15px 15px 15px;
    min-height: 50px;
    border-bottom: 1px solid $titulo-degrade-color-2;

    .navbar-contendor-elementos {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        width: 100%;
    }

    // Columna vacia en la izquierda
    .navbar-placeholder {
        width: 50px;
    }

    // contenedor img (A)
    .navbar-center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    // img
    .navbar-logo {
        height: 45px;
        width: 45px;
        cursor: pointer;
    }


// MENU HAMBURGUESA
    .navbar-toggler {
        border: none;
        margin-right: 10px;

        .bi-list {
            color: $custom-primary;
            width: 2.8rem;
            height: 2.8rem;
        }

        &:focus {
            outline: none;
            box-shadow: none; 
        }
    }
    .offcanvas-body {
        padding: 40px;
    }

// Menu desplegable - OFFCANVAS
    .offcanvas-header, .offcanvas-body {
        background-color: $custom-background;
        border-left: 1px solid $titulo-degrade-color-2;

        // Boton Close
        .btn-close {
            font-size: 25px;
            padding: 25px 25px 0px 0px;

            &:focus {
                outline: none;
                box-shadow: none; 
            }
        }

        // Links
        .nav-link {
            font-size: 30px;
            font-family: $titulos;
            font-style: italic;
        }

        .nav-link.active {
            color: $custom-primary !important;
        }
    }    
}

.nav-link {
    font-family: $titulos;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;

    .char {
        font-family: $titulos !important;
        display: inline-block;
        transition: transform 0.5s ease;
        transition-delay: calc(var(--char-index) * 0.03s);
    }

    &:hover .char {
        transform: rotateX(360deg);
        color: $custom-secondary-1;
    }

    &.active {
        color: $custom-secondary-1;
    } }