.seccion-proyectos {
    background: black;
    padding: 4rem 0;
    overflow: hidden;

    .contenedor-titulo {
        text-align: center;
        padding-bottom: 4rem;

        .habilidades-titulo {
            font-family: $titulos;
            color: $custom-primary;
            font-size: $secciones-titulos;
            font-style: italic;
            display: inline-block;
            font-weight: 100;
            border: 1px solid $custom-primary;
            padding: 10px 40px;
            border-radius: 50px;
            background: $custom-degrade-h2;
            overflow: hidden;
            margin: 0px !important;
        }
    }

    .slide-proyecto {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 10px;

        .slide {
            position: relative;
            border-radius: 15px;
            overflow: hidden;
            max-width: 800px;
            width: 100%;
            margin: 0 auto;

            height: auto;
            min-height: 400px;
            // min-height: 600px;
            aspect-ratio: 16/9; // Mantiene proporción pero es flexible

            .img-fondo {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.5s ease;
                display: block;

                // Cambiar en 600 la imagen
            }

            .slide-card {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background: white;
                padding: 2rem;
                // padding-bottom: 4rem; // 👈 crea espacio libre al final
                transform: translateY(100%); // ← Inicialmente oculto
                transition: transform 0.4s ease;
                box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.3);
                text-align: left;
                z-index: 5;

                h3 {
                    font-family: $titulos;
                    font-size: 1.8rem;
                    font-weight: 100 !important;
                    margin-bottom: 1rem;
                    color: black;
                }

                p {
                    font-family: $parrafos;
                    font-family: 100 !important;
                    margin-bottom: 1.5rem;
                    color: #333;
                }

                .botones {
                    background-color: white;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;

                    .btn {
                        padding: 0.7rem 1.5rem;
                        border-radius: 10px;
                        font-weight: 600;
                        text-decoration: none;
                        transition: 0.3s ease;
                        border: 2px solid black;
                        font-size: 0.9rem;
                    }

                    .negro {
                        font-family: $parrafos;
                        font-weight: 100 !important;
                        background-color: black;
                        color: white;
                    }

                    .blanco {
                        font-family: $parrafos;
                        font-weight: 100 !important;
                        background-color: white;
                        color: black;
                    }

                    .negro:hover,
                    .blanco:hover {
                        opacity: 0.85;
                    }
                }
            }

             @media (min-width: 768px) {
                &:hover .slide-card {
                    transform: translateY(0%); // ← Muestra el card al hover
                }
                
                // Ocultar button en desktop
                .toggle-overlay {
                    display: none;
                }
            }

            // CLASE para mobile - CONTROLADA POR REACT
            &.mostrar-overlay .slide-card {
                transform: translateY(0%); // ← Muestra el card
            }

            // Button "Ver" - "Ocultar"
            .toggle-overlay {
                position: absolute;

                bottom: 0; // 👈 pegado al borde inferior
                right: 100; // 👈 pegado al borde derecho
                margin: 0.8rem 2rem; // un pequeño respiro
                z-index: 10;
                padding: 0.6rem 1.4rem;
                border: none;
                background-color: rgb(0, 124, 103);
                color: white;
                border: 1px solid white;
                border-radius: 10px;
                cursor: pointer;
                font-weight: bold;
            }
        }
    }

    // MEDIA QUERIES
    @media screen and (max-width: 768px) {
        .slide-card {
            padding-bottom: 4rem !important; 
        }
    }

    @media screen and (max-width: 550px) {
        .slide {
            min-height: 600px !important;
        }
    }
}

