.contenedor-sobremi {
    background-color: $custom-background;
    padding: 4em 0rem 0rem 0rem;
    overflow: hidden; // para que no desborde el contenedor, lo ocultamos si pasa

    .contenedor-titulo {
        text-align: center;
        margin-bottom: 4rem;

        // GLOBAL
        .sobre-mi_titulo {
            font-family: $titulos;
            color: $custom-primary;
            font-size: $secciones-titulos;
            font-style: italic;
            display: inline-block;
            font-weight: 100;
            border: 1px solid $custom-primary;
            padding: 10px 40px;
            border-radius: 50px;
            background: $custom-degrade-h2;
        }
    }

    .sobre-mi_row {
            height: 100%; // Ya no forzamos el tamaño
            display: flex;
            align-items: stretch; // tengan las columnas las mismas medidas

        // Columna  - IMG
        .columna-img {
            height: 88vh;
            display: block;
            padding: 20px 0px;

            .foto-biografia {
                border-radius: 30px 0px 0px 30px;

                border-right: none;

                height: 100%; // Controlamos la altura
                width: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }

        // Columna - BIOGRAFIA
        .columna-biografia {
            background-color: $custom-background;
            padding: 40px 50px;

            display: flex;
            flex-direction: column;

            .biografia_titulo {
                font-family: 'Raleway', sans-serif;
                color: $custom-primary;
                font-size: 48px;
            }
            .biografia-titulo-2 {
                font-size: 48px;
                color: $custom-secondary-1;
                font-family: 'Cormorant', serif;
                font-style: italic;
                font-weight: 700;
            }

            .biografia_parrafo {
                margin-top: 25px;
                margin-bottom: 0px;
                font-size: 17px;
                font-family: $parrafos;
                color: $custom-primary;
                font-weight: 500;
            }

            .grupo-redes-sociales {
                margin-top: 40px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 20px;

                .contenedor-redondo a {
                    border-radius: 100%;
                    padding: 10px 14px;
                    border: 1px solid $custom-primary;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        background-color: $custom-secondary-2;
                        cursor: pointer;
                    }

                    .iconos-redes {
                        font-size: 25px;
                        color: $custom-primary;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .sobre-mi_row {
        height: 100vh;
        display: block;

        .columna-biografia {
            height: auto;
        }

        .columna-img {
            height: auto;

            .foto-biografia {
                padding-right: 12px;
                padding-left: 12px;
                border-radius: 30px 30px 30px 30px !important; 
                border: none !important;
            }
        }
    }
}

// Celulares
@media (max-width: 480px) { 

    .contenedor-sobremi {
        padding-right: 20px;
        padding-left: 15px;

        .sobre-mi_row {
            margin: 0px;

            .columna-biografia {
            height: auto;
            display: block;
            padding: 25px 20px;
            }

            .columna-img {
                padding: 60px 0px 75px 0px;

                .foto-biografia {
                    border-radius: 30px;
                    border: none;
                    padding: 0px;
                }
            }

        }
    }
}