.contenedor-testimonios {
    border-top: 1px solid $custom-primary;
    background-color: $custom-background;
    padding: 5rem 0rem 6rem 0rem;
    overflow: hidden;

    .testimonios_title {
        color: $custom-primary;
        font-family: $titulos;
        font-size: $secciones-titulos;
        font-weight: 500; 
        margin-bottom: 5rem;
    }

    .contenedor-cards {
        padding-top: 5fr !important;
        position: relative;
        overflow: hidden;

        &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 150px;
                /* Aumenta el ancho para un degradado más suave */
                height: 100%;
                background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2), transparent);
                z-index: 2;
                pointer-events: none;
        }
        
            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 150px;
                /* Aumenta el ancho para un degradado más suave */
                height: 100%;
                background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2), transparent);
                z-index: 2;
                pointer-events: none;
        }

        .testimonio-card {
            background-color: $custom-primary;
            margin: 0px 0px 0px 20px;

            width: 350px; // Tamaño fijo
            min-height: 250px;
            border-radius: 20px;
            padding: 20px;

            display: flex;
            flex-direction: column;
            white-space: normal;

            position: relative;
            z-index: 1; 


            .card_foto-y-nombre {
                display: flex;
                flex-direction: row;
                align-items: center;

                .testimonio-foto {
                    object-fit: cover;
                    margin-bottom: 0px !important;
                }

                .testimonio-nombre {
                    font-family: $parrafos;
                    font-size: 18px;
                    font-weight: 600;
                    margin-left: 20px;
                    margin-bottom: 0px !important;
                }
            }

            .card_calificación-y-testimonio {
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: end;
                text-align: start;
                font-family: $parrafos;

                .testimonio {
                    margin: 0px !important;
                }
            }
        }
    }
}

// Celular
@media (max-width: 780px) {
    .contenedor-testimonios .contenedor-cards {
        &::before,
        &::after {
            /* Reducimos el ancho del degradado */
            width: 80px;
            /* Suavizamos el degradado (menos opacidad) */
            background: linear-gradient(to right,
                        rgba(0, 0, 0, 0.5),
                        rgba(0, 0, 0, 0.1),
                        transparent);
        }
        
        &::after {
            background: linear-gradient(to left,
                        rgba(0, 0, 0, 0.5),
                        rgba(0, 0, 0, 0.1),
                        transparent);
        }
    }
}