@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;600&family=DM+Sans:wght@400;500;700&family=Raleway:wght@400;600;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

// Scroll suave
html {
    scroll-behavior: smooth;
}

div {
    background-color: black;
}

.sobre-mi_titulo {
    font-family: $titulos;
    color: $custom-primary;
    font-size: $secciones-titulos;
    font-style: italic;
    display: inline-block;
    font-weight: 100;
    border: 1px solid $custom-primary;
    padding: 10px 40px;
    border-radius: 50px;
    background: $custom-degrade-h2;
}
