// SCSS - Principial
@import 'bootstrap/scss/bootstrap';
@import 'utils/variables';
@import 'global';

// Secciones

@import 'sections/navbar';
@import 'sections/banner';
@import 'sections/servicios';
@import 'sections/galeria';
@import 'sections/sobremi';
@import 'sections/testimonios';
@import 'sections/ubicacion';
@import 'sections/btn-contacto';
@import 'sections/footer';
@import 'sections/habilidades';

