// Colores personalizados

$custom-primary: #ffffff; 
$custom-background: #121212;

$custom-secondary-1: #F2F601;
$custom-secondary-2: #f2f6012b; 
$custom-secondary-3: #ffffff22;

// Degrade

$titulo-degrade-color-2: #666666;
$custom-degrade: linear-gradient(to right, #ffffff, #F2F601);

// Titulos Colores

$titulos-color: #000000;
$parrafos-color: #272626;

// Typografia
$titulos: "Pirata One", serif;
$parrafos: "Recursive", serif;

// Titulos Tamaños

$secciones-titulos: 40px;
$tamaño-parrafos: 16px;
