// Colores personalizados

$custom-primary: #ffffff; 
$custom-background: #040404;

$custom-secondary-1: #F2F601;
$custom-secondary-2: #f2f6012b; 
$custom-secondary-3: #ffffff22;

// Degrades

$titulo-degrade-color-2: #666666;
$custom-degrade: linear-gradient(to right, #ffffff, #F2F601);
$custom-degrade-h2: linear-gradient(to right, #000000, #373737);

// Titulos Colores

$titulos-color: #000000;
$parrafos-color: #272626;

// Typografia
$titulos: "Pirata One", serif;
$parrafos: 'DM Sans', sans-serif;

// Titulos Tamaños

$secciones-titulos: 22px;
$tamaño-parrafos: 16px;
